* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.left-img img {
    width: 100%;
    border-radius: 0 70px 70px 0;
}

.right-content h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.right-content p {
    line-height: 120%;
    font-size: 20px;
    color: #545454;
}

.right-content .btn {
    background-color: #ffffff;
    color: #ec6543;
    text-decoration: none;
    border: 1px solid #ec6543;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}

.btn:hover {
    background-color: #ec6543;
    color: #ffffff;
    transition: 0.3s;
}

/* package section */
.package{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;

    background-image: url("../img/back.jpg");
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: fixed;
}

.package-box{
    background-color: #ec6543;
    color: #ffffff;
    line-height: 150%;
    font-size: 26px;
    padding: 30px;
    border-radius: 15px;
}

.package-box .ashtext{
    color: #f7bdae;
}

.package-box .month{
    color: #f9ccc1dc;
}

.package-box .doller{
    font-size: 96px;
    line-height: 110%;
}

.package-box p{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* contact section */

.form {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    margin-top: 80px;
    text-align: center;
    padding-bottom: 50px;
}

.contact {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 120px;
    padding: 30px;
    text-align: center;
    font-size: 24px;
}

.contact p {
    color: rgba(240, 248, 255, 0.87);
    font-weight: bold;
    font-size: 20px;
}

.link {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 200%;
}

.link p {
    color: rgba(240, 248, 255, 0.87);
}

.link .icon {
    display: flex;
    justify-content: center;
    gap: 26px;
    font-size: 20px;
    align-items: center;
}

.icon a {
    text-decoration: none;
    color: #ffffff;
}

.icon a:hover {
    font-size: 26px;
    transition: 0.3s;
}

.form-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.cloumn1 {
    width: 49%;
}

.cloumn2 {
    width: 49%;
}

.cloumn3 {
    width: 98%;
}

.form-section input {
    padding: 20px;
    margin: 2px;
    background-color: #50585b79;
    border: none;
    margin-top: 10px;
}

.form-section input::placeholder {
    color: #ffffff;
    font-size: 16px;
}

.form a {
    text-decoration: none;
}

.form .btn {
    padding: 20px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    background-color: #ec6543;
    border-radius: 10px;
}

.form .btn:hover {
    background-color: #f34216;
    transition: 0.3s;
    cursor: pointer;
}

.footer-section {
    background-color: #2e2e2e;
}

.footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer .links a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
}

.footer .links a:hover{
    font-size: 24px;
    transition: 0.3s;
}

